<main class="contents container">

  <div class="contents__container">

    <div class="contents__right-side">
      <div *ngIf="isSearch" class="input-element">
        <input placeholder="Search your movie" #val (input)="getMoviesExternal(val.value)" class="input-box" *ngIf="!isSeries">
      </div>
      <div class="input-element">
        <input placeholder="Search your movie" #val (input)="getMoviesDatabase(val.value)" class="input-box" *ngIf="isSeries">
      </div>
      <div class="contents__list" *ngIf="!isSeries">
        <app-poster-card *ngFor="let content of nowPlaying" [model]="content" [isMovie]="contentType === 'movies'"></app-poster-card>
      </div>
      <div class="contents__list" *ngIf="isSeries">
        <app-poster-card *ngFor="let content of nowPlaying[0].results" [model]="content" [isSeries]="contentType === 'followed-movies'"></app-poster-card>
      </div>

      <mat-paginator [length]="totalResults"
                     [pageSize]="20"
                     (page)="changePage($event)">
      </mat-paginator>
    </div>

  </div>

</main>
